{{>header}}
<div id="control">
    <button style="width: 20%">
        <a href="insert-user">InsertUser</a>
    </button>
    <br></br>
    <button style="width: 20%">
        <a href="insert-token">InsertToken</a>
    </button>
    <br></br>
    <button style="width: 20%">
        <a href="control-video">View Video</a>
    </button>
    <br></br>
    <button style="width: 20%">
        <a href="control-video">Control TokenList</a>
    </button>
</div>
