{{>header}}
<div id="insert-user">
    <form method="post" action="/insertuser">
        <p>
            <label>Username:</label>
            <input type="text" id="txtUser" name="txtUser"/>
        </p>
        <p>
            <label>Password:</label>
            <input type="text" id="txtPass" name="txtPass"/>
        </p>
        <p>
            <input type="submit" value="Insert"/>
        </p>
    </form>
</div>